{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "ezpaarse": false,
    "describe": false,
    "it": false,
    "before": false
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint","react-refresh"],
  "extends": [
    "eslint:recommended", // ESLint recommended rules
    "prettier", // Prettier rules
    "plugin:prettier/recommended" // Prettier plugin integration
  ],
  "ignorePatterns": ["node_modules"]
}
